<h1>Your survey my g</h1>

<h3>Title:</h3>
<h2><%= @survey.title %> </h2>

<h3>Questions:</h3>
<h2><%= @survey.questions %></h2>
<%= link_to "Back", surveys_path %>
<%= link_to "Edit", surveys_path %>